TDDA's Constraints API
======================

Basic API for Pandas DataFrames
-------------------------------

.. automodule:: tdda.constraints.api
    :members: discover, verify, detect

Basic API for Database Tables
-----------------------------

.. automodule:: tdda.constraints.db.constraints
    :members: discover_db_table, verify_db_table, detect_db_table

Basic Constraints Objects
-------------------------

.. automodule:: tdda.constraints.base
    :members: Verification, DatasetConstraints, FieldConstraints, MultiFieldConstraints

Pandas Constraints Objects
--------------------------

.. automodule:: tdda.constraints.pd.constraints
    :members: PandasVerification, PandasDetection

Database Constraints Objects
----------------------------

.. automodule:: tdda.constraints.db.constraints
    :members: DatabaseVerification
    :no-index:

Extension Framework
-------------------

.. automodule:: tdda.constraints.extension
    :members: ExtensionBase
