Constraints
===========

.. automodule:: tdda.constraints
    :members:

Tools for CSV Files and DataFrames in Feather files
---------------------------------------------------

.. automodule:: tdda.constraints.pddiscover
    :members:

.. automodule:: tdda.constraints.pdverify
    :members:

Constraints in CSV Files and Pandas DataFrames
----------------------------------------------

.. automodule:: tdda.constraints.pdconstraints
    :members:

.. automodule:: tdda.constraints.base
    :members: DatasetConstraints, FieldConstraints, MultiFieldConstraints, Constraint, MinConstraint, MaxConstraint, SignConstraint, TypeConstraint, MaxNullsConstraint, NoDuplicatesConstraint, AllowedValuesConstraint, MinLengthConstraint, MaxLengthConstraint, LtConstraint, LteConstraint, EqConstraint, GtConstraint, GteConstraint, Verification

.. _constraint_examples:

Examples
--------
.. automodule:: tdda.constraints.examples
    :members:
